<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gifts result</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <h1>Gift data:</h1>
    <div class="prettify" id="textify">
      <p>Name: <%= gifts.firstname %></p>
      <p>Gift: <%= gifts.giftname %></p>
      <p>Price: <%= gifts.price %></p>
    </div>
    <a href="/"><button>Naughty / Nice</button></a>
  </body>
</html>
